body > footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: auto;
    border: solid 5px rgb(34, 0, 255);
    border-radius: 2rem;
    padding: 2rem;
    background-color: blanchedalmond;
}

body > footer > p {
    font-size: 2rem;
    margin-bottom: 1rem;
}

body > footer > p:last-child {
    margin-bottom: 0;
}
