header {
    display: grid;
    grid-template-areas:
        "nav"
        "content";

    width: 100%;
    height: 20vh;
    /*     border: solid 5px black; */
    margin: auto;
    padding: 1rem;
}

/* ------- NAV ------- */
header > nav {
    grid-area: nav;
    width: 100%;
    height: 4vh;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header > nav > ul > li {
    font-size: 1.5rem;
    text-decoration: none;
    list-style-type: none;
}

/* ------- CONTENIDO ------- */
header > div#headerContentContainer {
    grid-area: content;
    display: grid;
    grid-template-areas:
        "perfil nombre nombre"
        "perfil desempeño desempeño"
        "logos correo correo";
    /*     border: solid 1px blue; */
    margin: auto;
}

header > div#headerContentContainer > h1 {
    display: flex;
    align-items: flex-end;
    grid-area: nombre;
    font-size: 3rem;
    margin-bottom: 0.5vh;
}

header > div#headerContentContainer > h2 {
    grid-area: desempeño;
    font-size: 2rem;
}

/* ------- CONTACTO ------- */
header > div#headerContentContainer > div#contactoContainer {
    grid-area: correo;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header > div#headerContentContainer > div#contactoContainer > p#correo {
    font-size: 2rem;
    border: solid 2px grey;
    background-color: beige;
    border-radius: 1.2rem;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 0.3rem;
}

header
    > div#headerContentContainer
    > div#contactoContainer
    > button#btnEnvCorreo {
    width: 100%;
    height: 2.5vh;
    margin-right: 0.3rem;
}

header
    > div#headerContentContainer
    > div#contactoContainer
    > button#btnEnvCorreo
    > img {
    width: 2rem;
    height: 2vh;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
}

header
    > div#headerContentContainer
    > div#contactoContainer
    > button#btnCopiarEmail {
    width: 100%;
    height: 2.5vh;
}

header
    > div#headerContentContainer
    > div#contactoContainer
    > button#btnCopiarEmail
    > img {
    width: 1.5rem;
    height: 1.5vh;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

/* ------- IMAGEN DE PERFIL ------- */
header > div#headerContentContainer > img#imgPerfil {
    grid-area: perfil;
    width: 55%;
    height: 8vh;
    border-radius: 3vh;
    margin-right: 5rem;
    margin-left: auto;
}

/* ------- BOTONES SOCIAL MEDIA ------- */
header > div#headerContentContainer > div#logosHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-top: 1rem;
    /*     border: solid 1px red; */
}

header > div#headerContentContainer > div#logosHeaderContainer > button {
    width: 100%;
    height: 4vh;
    border: none;
    background: none;
    margin-right: 1rem;
}

header
    > div#headerContentContainer
    > div#logosHeaderContainer
    > button:last-child {
    margin-right: 0;
}

header
    > div#headerContentContainer
    > div#logosHeaderContainer
    > button
    > img#imgCV {
    width: 100%;
    height: 100%;
    margin: auto;
}

header
    > div#headerContentContainer
    > div#logosHeaderContainer
    > button
    > img#imgGitHubHeader {
    width: 100%;
    height: 100%;
    margin: auto;
}

header
    > div#headerContentContainer
    > div#logosHeaderContainer
    > button
    > img#imgLinkedin {
    width: 100%;
    height: 100%;
    margin: auto;
}
