footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background: rgb(45, 27, 0);
    border-top: solid 1rem rgb(0, 77, 0);
    color: white;
}

footer > p {
    font-size: 2rem;
    margin-bottom: 1rem;
    background: none;
}

footer > p:last-child {
    margin-bottom: 0;
}
