main {
    position: relative;
    width: 100%;
    border: none;
}

/* ------- SOBRE MI -------- */

main > div.contenedorSobreMi {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: 20vh;
    margin: auto;
    background-image: url("../../assets/img/cartel.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background: solid red 2px;
    border: solid green 2px;
    color: rgb(109, 0, 0);
}

main > div.contenedorSobreMi > section.seccionSobreMi {
    width: 80%;
}

main > div.contenedorSobreMi > section.seccionSobreMi > h3 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

main > div.contenedorSobreMi > section.seccionSobreMi > p {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

/* -------- PROYECTOS -------- */
main > section.seccionProyectosDestacados {
    margin-top: 2rem;
    z-index: 1;
}

main > section.seccionProyectosDestacados > h3 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}
main > section.seccionProyectosDestacados > div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    aspect-ratio: 14/16;
}

main > section.seccionProyectosDestacados > div > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px red;
    border-radius: 2rem;
    height: 100%;
    width: 100%;

    margin-bottom: 2rem;
}

main > section.seccionProyectosDestacados > div > article > h4 {
    font-size: 2vh;
    margin-bottom: 1rem;
}

main > section.seccionProyectosDestacados > div > article > img.imgProyecto {
    width: 90%;
    aspect-ratio: 2/1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 2rem;
}

main > section.seccionProyectosDestacados > div > article > p {
    width: 80%;
    aspect-ratio: 2/1;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

main > section.seccionProyectosDestacados > div > article > p > span {
    font-size: 1.7rem;
    font: bold;
}

main > section.seccionProyectosDestacados > div > article > div {
    position: relative;
}

main > section.seccionProyectosDestacados > div > article > div > h5 {
    display: flex;
    justify-content: center;
    font-size: 1.5vh;
}

main > section.seccionProyectosDestacados > div > article > div > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main
    > section.seccionProyectosDestacados
    > div
    > article
    > div
    > div.containerLogosProyectos
    > img.imgLogos {
    width: 12%;
    aspect-ratio: 1/1;
}

main
    > section.seccionProyectosDestacados
    > div
    > article
    > div
    > div.containerGithubProyectos {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

main
    > section.seccionProyectosDestacados
    > div
    > article
    > div
    > div.containerGithubProyectos
    > img.imgGithub {
    width: 8%;
    aspect-ratio: 1/1;
}

/* ------- TECNOLOGIAS ------- */

main > section.seccionTecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

main > section.seccionTecnologias > h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

main > section.seccionTecnologias > div.seccionBtnTec {
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    flex-wrap: wrap;
}

main > section.seccionTecnologias > div.seccionBtnTec > button {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21vw;
    aspect-ratio: 1/1;
    border: none;
    background: none;
}

main > section.seccionTecnologias > div.seccionBtnTec > button > img {
    width: 100%;
    height: 100%;
}
