main {
    width: 100%;
    /*     border: solid 5px rgb(162, 0, 0); */
}

/* ------- SOBRE MI -------- */
main > section.seccionSobreMi {
    /*     border: solid 1px red; */
    width: 80%;
    margin: auto;
}

main > section.seccionSobreMi > h3 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

main > section.seccionSobreMi > p {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

/* -------- PROYECTOS -------- */
main > section.seccionProyectosDestacados {
    margin-top: 2rem;
}

main > section.seccionProyectosDestacados > h3 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
main > section.seccionProyectosDestacados > div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

main > section.seccionProyectosDestacados > div > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px red;
    border-radius: 2rem;
    height: 40vh;
    margin-bottom: 2rem;
}

main > section.seccionProyectosDestacados > div > article > h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

main > section.seccionProyectosDestacados > div > article > img.imgProyecto {
    width: 90%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: solid red 2px;
}

main > section.seccionProyectosDestacados > div > article > p {
    width: 80%;
    height: 10vh;
    border: solid 1px red;
    margin-bottom: 1rem;
}

main > section.seccionProyectosDestacados > div > article > img.imgGithub {
    height: 3rem;
}

/* ------- TECNOLOGIAS ------- */

main > section.seccionTecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main > section.seccionTecnologias > h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

main > section.seccionTecnologias > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section.seccionTecnologias > div > button {
    width: 8rem;
    height: 8vh;
    margin-bottom: 2rem;
    border: none;
    background: none;
}

main > section.seccionTecnologias > div > button > img {
    width: 100%;
    width: 100%;
}
