main {
    position: relative;
    width: 100%;
    border: none;
    overflow: hidden;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 7vw, 9rem);
    margin: auto;
    margin-bottom: 3vh;
    text-shadow: 0px 1px 1px hsl(0, 0%, 0%), 0px 2px 2px hsl(0, 0%, 20%),
        0px 3px 3px hsl(0, 0%, 40%), 0px 4px 4px hsl(0, 0%, 60%),
        0px 5px 5px hsl(0, 0%, 80%);
}

@media (min-width: 840px) {
    h3 {
        font-size: 7vh;
    }
}
