@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

:root {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.8s;
    line-height: 1.5;
    font-weight: 400;
    background-color: skyblue;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    transition: all 0.8s;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    transition: all 0.8s;
}

button {
    cursor: pointer;
    transition: border-color 0.25s;
    -webkit-tap-highlight-color: transparent;
}

a {
    -webkit-tap-highlight-color: transparent;
}
