@font-face {
    font-family: "Cascadia Code";
    src: url("/assets/fonts/Cascadia.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SUSE";
    src: url("/assets/fonts/SUSE-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* @font-face {
    font-family: "SUSE";
    src: url("./assets/fonts/SUSE-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
/* @font-face {
    font-family: "SUSE";
    src: url("./assets/fonts/SUSE-ExtraLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
/* @font-face {
    font-family: "SUSE";
    src: url("./assets/fonts/SUSE-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
/* @font-face {
    font-family: "SUSE";
    src: url("./assets/fonts/SUSE-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
/* @font-face {
    font-family: "SUSE";
    src: url("./assets/fonts/SUSE-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
/* @font-face {
    font-family: "SUSE";
    src: url("./assets/fonts/SUSE-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
/* @font-face {
    font-family: "SUSE";
    src: url("./assets/fonts/SUSE-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */

:root {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: all 0.8s;
    line-height: 1.5;
    font-weight: 400;
    background-color: skyblue;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    transition: all 0.8s;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    transition: all 0.8s;
}

button {
    cursor: pointer;
    transition: border-color 0.25s;
    -webkit-tap-highlight-color: transparent;
}

a {
    -webkit-tap-highlight-color: transparent;
}
