header {
    position: relative;
    display: grid;
    grid-template-areas:
        "nav"
        "content";
    grid-template-rows: 1fr 5fr;
    width: 100%;
    aspect-ratio: 4/1;
    margin: auto;
    padding: 1rem;
    padding-bottom: 5.5rem;
    background: linear-gradient(to bottom, white 80%, skyblue);
}

/* ------- NAV ------- */
header nav {
    grid-area: nav;
    width: 100%;
    height: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header a {
    text-decoration: none;
    list-style-type: none;
}

header nav a {
    color: #bdcedc;
    text-shadow: 0 1px 0 #b4c1cd, 0 1.5px 0 #a0b1bf, 0 2px 0 #8ca0b2,
        3px 5px 5px rgba(0, 0, 0, 0.3);
    font-size: clamp(1.3rem, 10vw, 2vw);
    transition: all 0.3s;
}

header nav a:hover {
    text-shadow: 0 0px 1px #000000;
}

header nav a.active {
    border: solid 2px;
    border-top: #00000000;
    border-left: #00000000;
    border-right: #00000000;
    text-shadow: 0 1px 0 #b4c1cd, 0 1.5px 0 #a0b1bf, 0 px 0 #8ca0b2,
        2px 4px 5px rgba(0, 0, 0, 0.3);
}

/* ------------------------------------------ MEDIA QUERY ------------------------------------------ */

@media (min-width: 840px) {
    header {
        aspect-ratio: 10/2;
        padding-bottom: 7vh;
    }

    header nav {
        width: 80%;
        height: fit-content;
        margin: auto;
    }

    header nav a {
        text-shadow: 0 1px 0 #b4c1cd, 0 2px 0 #a0b1bf, 0 3px 0 #8ca0b2,
            2px 4px 4px rgba(0, 0, 0, 0.3);
        font-size: 2vw;
        transition: all 0.3s;
    }

    header nav a:hover {
        text-shadow: 0 0px 2px #252525;
    }

    header nav a.active {
        text-shadow: 0 1px 0 #b4c1cd, 0 2px 0 #a0b1bf, 0 3px 0 #8ca0b2,
            2px 4px 4px rgba(0, 0, 0, 0.3);
    }
}
