/* ------- CONTENIDO ------- */
header div.headerContentContainer {
    position: relative;
    grid-area: content;
    display: grid;
    grid-template-areas:
        "perfil nombre nombre"
        "perfil nombre nombre"
        "logos correo correo";
    margin: auto;
    margin-top: 1vh;
    width: 80%;
}

header > div.headerContentContainer > a {
    position: relative;
    grid-area: nombre;
}

header > div.headerContentContainer > a > div.nombreContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #effdff;
}

header div.headerContentContainer h1 {
    display: flex;
    align-items: flex-end;
    font-size: 7vw;
    margin-bottom: 1vh;
    margin-top: 0.5vh;
    width: 100%;
    white-space: nowrap;
    line-height: 1.1;
    transition: all 0.8s;
    font-weight: bold;
    text-shadow: 0 0px 3px hsla(0, 0%, 0%, 0.68), 0 -1px 0 hsl(206, 20%, 75%),
        0 -1.5px 0 hsl(206, 20%, 69%), 0 -2px 0 hsl(206, 20%, 62%),
        0 -2.5px 0 hsl(206, 20%, 55%), -2px -1px 7px hsla(0, 0%, 0%, 0.1),
        -2px -2px 4px hsla(0, 0%, 0%, 0.3);
}

header div.headerContentContainer h1:hover {
    text-shadow: 0 0px 2px #000000;
}

header div.headerContentContainer h2 {
    display: flex;
    justify-content: flex-start;

    font-size: 4vw;
    width: 100%;
    transition: all 0.8s;
    font-weight: bold;
    white-space: nowrap;
    text-shadow: 0 0px 3px hsla(0, 0%, 0%, 0.68), 0 -1px 0 hsl(206, 20%, 75%),
        0 -1.5px 0 hsl(206, 19%, 69%), 0 -2px 0 hsl(206, 20%, 62%),
        0 -2.5px 0 hsl(206, 20%, 55%), -2px -1px 7px hsla(0, 0%, 0%, 0.1),
        -2px -2px 4px hsla(0, 0%, 0%, 0.3);
}

header div.headerContentContainer h2:hover {
    text-shadow: 0 0px 2px #000000;
}

/* ------- CONTACTO ------- */
header div.headerContentContainer > div.contactoContainer {
    position: relative;
    grid-area: correo;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    width: 100%;
    padding-inline: 4%;
}

header div.headerContentContainer > div.contactoContainer > p.correo {
    font-size: 1.5vh;
    font-weight: 1000;
    font-family: "Cascadia Code", monospace;
    /*     border: solid 0.2vh grey; */
    /*     background-color: rgb(241, 239, 214); */
    border-radius: 1.2rem;

    transition: all 0.3s;
    color: #000000;
    text-shadow: 0px 0px 1.5px #000000c7;
}

header
    div.headerContentContainer
    > div.contactoContainer
    > button.btnEnvCorreo {
    width: 8vw;
    aspect-ratio: 3/2;
    background: none;
    border: none;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vw;
}

header div.headerContentContainer > div.contactoContainer > button:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

header div.headerContentContainer > div.contactoContainer > button:active {
    transition: all 0s;
    transform: scale(0.9);
}

header
    div.headerContentContainer
    > div.contactoContainer
    > button.btnEnvCorreo
    > img {
    width: 100%;
    height: 100%;
    padding: 0.4vw;
}

header
    div.headerContentContainer
    > div.contactoContainer
    > button.btnCopiarEmail {
    width: 6vw;
    aspect-ratio: 1/1;
    background: none;
    border: none;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5vw;
    margin-right: 1vh;
}

header
    div.headerContentContainer
    > div.contactoContainer
    > button.btnCopiarEmail
    > img {
    padding: 0.4vw;
    width: 100%;
    height: 100%;
}

/* ------- IMAGEN DE PERFIL ------- */

@keyframes cambioSombra {
    0% {
        box-shadow: 0px 0px 1vh #ff0000;
    }
    10% {
        box-shadow: 0px 0px 1vh #ff7f00;
    }
    20% {
        box-shadow: 0px 0px 1vh #ffff00;
    }
    30% {
        box-shadow: 0px 0px 1vh #7fff00;
    }
    40% {
        box-shadow: 0px 0px 1vh #00ff00;
    }
    50% {
        box-shadow: 0px 0px 1vh #00ff7f;
    }
    60% {
        box-shadow: 0px 0px 1vh #00ffff;
    }
    70% {
        box-shadow: 0px 0px 1vh #007fff;
    }
    80% {
        box-shadow: 0px 0px 1vh #0000ff;
    }
    90% {
        box-shadow: 0px 0px 1vh #7f00ff;
    }
    100% {
        box-shadow: 0px 0px 1vh #ff00ff;
    }
}

header div.headerContentContainer > img.imgPerfil {
    grid-area: perfil;
    width: clamp(18vw, 18%, 5%);
    aspect-ratio: 1/1;
    border-radius: 2vh;
    margin: auto;
    animation: cambioSombra 5s linear infinite;
    transition: all 3s easy-in;
}

header div.headerContentContainer > img.imgPerfil:hover {
    transform: scale(1.2);
    z-index: 1;
}

/* ------- BOTONES SOCIAL MEDIA ------- */

header
    div.headerContentContainer
    > div.logosHeaderContainer
    > div.boxContainer {
    border-radius: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    width: fit-content;
}

header
    div.headerContentContainer
    > div.logosHeaderContainer
    > div.boxContainer
    > div.inContainer {
    position: relative;
    grid-area: logos;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

header
    div.headerContentContainer
    > div.logosHeaderContainer
    > div.boxContainer
    > div.inContainer
    > button {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 0;
    border: none;
    background: none;
    margin: auto;
    margin-right: 1rem;
    transition: all 0.4s;
}

header
    div.headerContentContainer
    > div.logosHeaderContainer
    > div.boxContainer
    > div.inContainer
    > button:last-child {
    margin-right: 0;
    position: relative;
}

header
    div.headerContentContainer
    > div.logosHeaderContainer
    > div.boxContainer
    > div.inContainer
    > button:hover {
    transform: scale(1.1);
}

header
    div.headerContentContainer
    > div.logosHeaderContainer
    > div.boxContainer
    > div.inContainer
    > button:active {
    transition: all 0s;
    transform: scale(0.9);
}

header
    div.headerContentContainer
    > div.logosHeaderContainer
    > div.boxContainer
    > div.inContainer
    > button
    > img.imgLogoHeader {
    height: 6.5vw;
    aspect-ratio: 1/1;
    margin: auto;
}

/* ------------------------------------------ MEDIA QUERY ------------------------------------------ */
@media (min-width: 840px) {
    /* ------- CONTENIDO ------- */

    header
        div.headerContentContainer
        > div.logosHeaderContainer
        > div.boxContainer {
        padding: 1vh;
    }

    header div.headerContentContainer {
        position: relative;
        grid-area: content;
        display: grid;
        grid-template-areas:
            "perfil  nombre"
            "perfil  nombre"
            "logos  correo";
        margin: auto;
        margin-top: 1vh;
        width: 45%;
        aspect-ratio: 6/1;
    }

    header div.headerContentContainer a div.nombreContainer {
        width: fit-content;
    }

    header div.headerContentContainer h1 {
        position: relative;
        width: fit-content;
        font-size: 7vh;
        margin-bottom: 1vh;
        margin-top: 0;
        margin-left: 1vh;
        margin-right: auto;
        transition: all 0.8s;
        text-shadow: 0 0px 3px hsla(0, 0%, 0%, 0.511), 0 -1px 0 #b4c1cd,
            0 -2.5px 0 #a0b1bf, 0 -4px 0 #8ca0b2, 0 -5.5px 0 #778fa4,
            3px 5px 15px rgba(0, 0, 0, 0.125), 3px 6px 5px rgba(0, 0, 0, 0.243);
    }

    header div.headerContentContainer h1:hover {
        transform: translateX(8px) translateY(8px);
        text-shadow: 0 0px 3px #000000;
    }

    header div.headerContentContainer h2 {
        position: relative;
        width: fit-content;
        font-size: 3.5vh;
        margin-left: 1vh;
        margin-right: auto;
        transition: all 0.6s;
        text-shadow: 0 0px 3px hsla(0, 0%, 0%, 0.511),
            0 -1px 0 hsl(209, 20%, 75%), 0 -2.5px 0 hsl(207, 20%, 69%),
            0 -4px 0 hsl(208, 20%, 62%), 0 -5.5px 0 hsl(208, 20%, 55%),
            3px 5px 15px hsla(0, 0%, 0%, 0.125),
            3px 6px 5px hsla(0, 0%, 0%, 0.243);
    }

    header div.headerContentContainer h2:hover {
        transform: translateX(6px) translateY(6px);

        text-shadow: 0 0px 3px #000000;
    }

    /* ------- CONTACTO ------- */
    header div.headerContentContainer > div.contactoContainer {
        position: relative;
        grid-area: correo;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 0;
        width: fit-content;
        padding-inline: 0px;
        margin-left: 1vh;
    }

    header div.headerContentContainer > div.contactoContainer > p.correo {
        font-size: 2.8vh;
        width: fit-content;
    }

    header
        div.headerContentContainer
        > div.contactoContainer
        > button.btnEnvCorreo {
        width: 6vh;
        margin-left: 0.5vh;
    }

    header div.headerContentContainer > div.contactoContainer > button:hover {
        transition: 0.4s;
        transform: scale(1.2);
    }

    header div.headerContentContainer > div.contactoContainer > button:active {
        transition: all 0s;
        transform: scale(0.9);
    }

    header
        div.headerContentContainer
        > div.contactoContainer
        > button.btnCopiarEmail {
        width: 4.5vh;
        margin-left: 0vh;
        margin-right: 0vh;
    }

    /* ------- IMAGEN DE PERFIL ------- */

    @keyframes cambioSombra {
        0% {
            box-shadow: 0px 0px 1vh #ff0000;
        }
        10% {
            box-shadow: 0px 0px 1vh #ff7f00;
        }
        20% {
            box-shadow: 0px 0px 1vh #ffff00;
        }
        30% {
            box-shadow: 0px 0px 1vh #7fff00;
        }
        40% {
            box-shadow: 0px 0px 1vh #00ff00;
        }
        50% {
            box-shadow: 0px 0px 1vh #00ff7f;
        }
        60% {
            box-shadow: 0px 0px 1vh #00ffff;
        }
        70% {
            box-shadow: 0px 0px 1vh #007fff;
        }
        80% {
            box-shadow: 0px 0px 1vh #0000ff;
        }
        90% {
            box-shadow: 0px 0px 1vh #7f00ff;
        }
        100% {
            box-shadow: 0px 0px 1vh #ff00ff;
        }
    }

    header div.headerContentContainer img.imgPerfil {
        grid-area: perfil;
        width: fit-content;
        height: 13.5vh;
        animation: cambioSombra 10s linear infinite;
        transition: all 3s easy-in;
    }

    header div.headerContentContainer img.imgPerfil:hover {
        transform: scale(1.3);
    }

    /* ------- BOTONES SOCIAL MEDIA ------- */

    header
        div.headerContentContainer
        > div.logosHeaderContainer
        > div.boxContainer
        > div.inContainer {
        position: relative;
        grid-area: logos;
        margin-top: 1rem;
        width: fit-content;
        margin: auto;
        /*         border: solid green 2px; */
    }

    header
        div.headerContentContainer
        > div.logosHeaderContainer
        > div.boxContainer
        > div.inContainer
        > button {
        width: 100%;
        aspect-ratio: 1/1;
        margin-right: 2rem;
        transition: all 0.4s;
    }

    header
        div.headerContentContainer
        > div.logosHeaderContainer
        > div.boxContainer
        > div.inContainer
        > button:last-child {
        margin-right: 0;
        position: relative;
    }

    header
        div.headerContentContainer
        > div.logosHeaderContainer
        > div.boxContainer
        > div.inContainer
        > button:hover {
        transform: scale(1.3);
    }

    header
        div.headerContentContainer
        > div.logosHeaderContainer
        > div.boxContainer
        > div.inContainer
        > button:active {
        transition: all 0s;
        transform: scale(1);
    }

    header
        div.headerContentContainer
        > div.logosHeaderContainer
        > div.boxContainer
        > div.inContainer
        > button
        > img.imgLogoHeader {
        height: 2.5vw;
        aspect-ratio: 1/1;
        margin: auto;
    }
}
