section.seccionProyectosDestacados > div.proyectosContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    z-index: 1;
    width: min(800px, 100%);
    margin: auto;
}

section.seccionProyectosDestacados > div.proyectosContainer > div {
    width: 80%;
    border-radius: 2rem;
    margin-bottom: 4rem;
    background-color: hsla(105, 100%, 75%, 0.435);
    box-shadow: 1px 1px 0px hsl(95, 40%, 40%), 1.5px 1.5px 0px hsl(95, 39%, 40%),
        2px 2px 0px hsl(95, 38%, 40%), 2.5px 2.5px 0px hsl(95, 37%, 40%),
        3px 3px 0px hsl(95, 36%, 40%), 3.5px 3.5px 0px hsl(95, 35%, 40%),
        4px 4px 0px hsl(95, 34%, 40%), 4.5px 4.5px 0px hsl(95, 33%, 40%),
        5px 5px 0px hsl(95, 32%, 40%), 5.5px 5.5px 0px hsl(95, 31%, 40%),
        6px 6px 0px hsl(95, 30%, 40%), 6.5px 6.5px 0px hsl(95, 29%, 40%),
        7px 7px 0px hsl(95, 28%, 40%), 7.5px 7.5px 0px hsl(95, 27%, 40%),
        8px 8px 0px hsl(95, 26%, 40%), 8.5px 8.5px 0px hsl(95, 25%, 40%),
        9px 9px 0px hsl(95, 24%, 40%), 9.5px 9.5px 0px hsl(95, 23%, 40%),
        10px 10px 0px hsl(95, 22%, 40%), 10.5px 10.5px 0px hsl(95, 21%, 40%),
        11px 11px 0px hsl(95, 20%, 40%), 0.41em 0.41em 20px rgba(0, 0, 0, 0.6),
        inset -8px -8px 12px rgba(95, 114, 64, 0.5),
        inset 8px 8px 12px rgba(95, 164, 120, 0.5);
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos {
    width: 90%;
    padding-block: 2vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(105, 100%, 75%, 0.435);
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    padding-bottom: 2vh;
    padding-top: 2vh;
    box-shadow: inset 1px 1px 0px hsl(95, 40%, 40%),
        inset 1.5px 1.5px 0px hsl(95, 40%, 40%),
        inset 2px 2px 0px hsl(95, 40%, 40%),
        inset 2.5px 2.5px 0px hsl(95, 40%, 40%),
        inset 3px 3px 0px hsl(95, 40%, 40%),
        inset 3.5px 3.5px 0px hsl(95, 40%, 40%),
        inset 4px 4px 0px hsl(95, 40%, 40%),
        inset 4.5px 4.5px 0px hsl(95, 40%, 40%),
        inset 5px 5px 0px hsl(95, 40%, 40%),
        inset 5.5px 5.5px 10px hsl(95, 40%, 40%),
        inset 6px 6px 10px hsl(95, 40%, 40%),
        -8px -8px 12px rgba(95, 114, 64, 0.5),
        8px 8px 12px rgba(95, 164, 120, 0.5);
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    article
    > h4 {
    font-size: 270%;
    margin-bottom: 1vh;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    article
    > img {
    width: 90%;
    aspect-ratio: 2/1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    transition: all 0.2s;
    padding: 5px;
    background-color: hsla(105, 100%, 64%, 0.233);

    box-shadow: 1px 1px 0px hsl(95, 40%, 40%), 1.5px 1.5px 0px hsl(95, 39%, 40%),
        2px 2px 0px hsl(95, 38%, 40%), 2.5px 2.5px 0px hsl(95, 37%, 40%),
        3px 3px 0px hsl(95, 30%, 40%), 3.5px 3.5px 0px hsl(95, 29%, 40%),
        4px 4px 0px hsl(95, 26%, 40%), 4.5px 4.5px 0px hsl(95, 25%, 40%),
        5px 5px 0px hsl(95, 22%, 40%), 5.5px 5.5px 0px hsl(95, 21%, 40%),
        6px 6px 0px hsl(95, 20%, 40%), 0.41em 0.41em 20px rgba(0, 0, 0, 0.6),
        inset -8px -8px 3px rgba(95, 114, 64, 0.5),
        inset 8px 8px 6px rgba(95, 164, 120, 0.5);
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    > article
    > img:hover {
    cursor: pointer;
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > article
    div.cajaProyectos
    > img.scale-up {
    transform: scale(1.2);
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    article
    > h5 {
    margin-top: 1vh;
    font-size: 200%;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    article
    > p {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 2vh;
    align-items: center;
    width: 80%;
    height: 21vh;
    font-size: 200%;
    background-color: #6aff004a;
    text-shadow: 0.3px 0.3px 0px rgb(0, 0, 0);
    box-shadow: inset 1px 1px 0px hsl(95, 40%, 40%),
        inset 1.5px 1.5px 0px hsl(95, 40%, 40%),
        inset 2px 2px 0px hsl(95, 40%, 40%),
        inset 2.5px 2.5px 0px hsl(95, 40%, 40%),
        inset 3px 3px 0px hsl(95, 40%, 40%),
        inset 3.5px 3.5px 0px hsl(95, 40%, 40%),
        inset 4px 4px 0px hsl(95, 40%, 40%),
        inset 4.5px 4.5px 0px hsl(95, 40%, 40%),
        inset 5px 5px 0px hsl(95, 40%, 40%),
        inset 5.5px 5.5px 10px hsl(95, 40%, 40%),
        inset 6px 6px 10px hsl(95, 40%, 40%),
        -8px -8px 12px rgba(95, 114, 64, 0.5),
        8px 8px 12px rgba(95, 164, 120, 0.5);
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    > article
    > p
    > strong {
    font-size: 85%;
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    article
    > div {
    position: relative;
    height: 25%;
    width: 90%;
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    > article
    > div
    > h5 {
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin-bottom: 1vh;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    > article
    > div
    > div {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 70%;
    margin: auto;
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    > article
    > div
    > div
    > div.containerLogosProyectos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    > article
    > div
    > div
    > div.containerLogosProyectos
    > img.imgLogos {
    width: 20%;
    aspect-ratio: 1/1;
    transition: all 0.4s;
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    > article
    > div
    > div
    > div.containerLogosProyectos
    > img.imgLogos:hover {
    transform: scale(1.2);
    cursor: pointer;
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    > article
    > div
    > div
    > div.containerGithubProyectos {
    width: 50%;
    aspect-ratio: 1/1;
    transition: all 0.4s;
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    > article
    > div
    > div
    > div.containerGithubProyectos:hover {
    transform: scale(1.2);
    cursor: pointer;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    div.cajaProyectos
    > article
    > div
    > div
    > div.containerGithubProyectos
    > img.imgGithub {
    width: 100%;
    aspect-ratio: 1/1;
}

/* --------------------------------- MEDIA QUERY --------------------------------- */

@media (min-width: 840px) {
    section.seccionProyectosDestacados h3 {
        font-size: 3.5vw;
    }

    section.seccionProyectosDestacados div.proyectosContainer {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        margin: auto;
    }

    section.seccionProyectosDestacados div.proyectosContainer > div {
        width: 28%;
        margin-right: 5vh;
    }

    section.seccionProyectosDestacados div.proyectosContainer > div:last-child {
        margin-right: 0;
    }
    .proyecto1 {
        order: 2;
    }
    .proyecto2 {
        order: 1;
    }
    .proyecto3 {
        order: 5;
    }
    .proyecto4 {
        order: 4;
    }
    .proyecto5 {
        order: 3;
    }
}

section.seccionProyectosDestacados
    > div.proyectosContainer
    > div
    > div.cajaProyectos
    > article
    > div
    > div
    > div.containerGithubProyectos {
    width: 30%;
    aspect-ratio: 1/1;
}
