section.seccionProyectosDestacados h3 {
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 7vw, 9rem);
    margin: auto;
    margin-bottom: 3vh;
}

section.seccionProyectosDestacados > div.proyectosContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    z-index: 1;
    width: min(800px, 100%);
    margin: auto;
}

section.seccionProyectosDestacados div.proyectosContainer div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

section.seccionProyectosDestacados div.proyectosContainer div > article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(160, 255, 128, 0.435);
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

section.seccionProyectosDestacados div.proyectosContainer div > article > h4 {
    font-size: 270%;
    margin-bottom: 1vh;
}

section.seccionProyectosDestacados div.proyectosContainer div > article > img {
    width: 90%;
    aspect-ratio: 2/1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    transition: all 0.2s;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    > article
    > img:hover {
    cursor: pointer;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    > article
    > img.scale-up {
    transform: scale(1.2);
}

section.seccionProyectosDestacados div.proyectosContainer div > article > h5 {
    margin-top: 1vh;
    font-size: 200%;
}

section.seccionProyectosDestacados div.proyectosContainer div > article > p {
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-items: center;
    width: 80%;
    aspect-ratio: 8/3;
    font-size: 200%;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    > article
    > p
    > strong {
    font-size: 85%;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    > article
    > p
    > span {
    font-size: 130%;
    font: bold;
    color: black;
}

section.seccionProyectosDestacados div.proyectosContainer div > article > div {
    position: relative;
    height: 25%;
    width: 90%;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    > article
    > div
    > h5 {
    display: flex;
    justify-content: center;
    font-size: 250%;
    margin-bottom: 1vh;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    > article
    > div
    > div {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 70%;
    margin: auto;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    > article
    > div
    > div
    > div.containerLogosProyectos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    > article
    > div
    > div
    > div.containerLogosProyectos
    > img.imgLogos {
    width: 20%;
    aspect-ratio: 1/1;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    > article
    > div
    > div
    > div.containerGithubProyectos {
    width: 12%;
    aspect-ratio: 1/1;
}

section.seccionProyectosDestacados
    div.proyectosContainer
    div
    > article
    > div
    > div
    > div.containerGithubProyectos
    > img.imgGithub {
    width: 100%;
    aspect-ratio: 1/1;
}

/* --------------------------------- MEDIA QUERY --------------------------------- */

@media (min-width: 840px) {
    section.seccionProyectosDestacados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        z-index: 1;
        width: 100%;
        margin: auto;
    }

    section.seccionProyectosDestacados h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 3.5vw;
        margin-bottom: 1vh;
    }

    section.seccionProyectosDestacados div.proyectosContainer {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        margin: auto;
    }

    section.seccionProyectosDestacados div.proyectosContainer > div {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 28%;
        margin: auto;
    }

    .proyecto1 {
        order: 2;
    }
    .proyecto2 {
        order: 1;
    }
    .proyecto3 {
        order: 5;
    }
    .proyecto4 {
        order: 4;
    }
    .proyecto5 {
        order: 3;
    }
}
