div.contenedorProyecto {
    width: 80%;
    border-radius: 2rem;
    margin-bottom: 4rem;
    background-color: hsla(105, 100%, 75%, 0.435);
    box-shadow: 1px 1px 0px hsl(95, 40%, 40%), 1.5px 1.5px 0px hsl(95, 39%, 40%),
        2px 2px 0px hsl(95, 38%, 40%), 2.5px 2.5px 0px hsl(95, 37%, 40%),
        3px 3px 0px hsl(95, 36%, 40%), 3.5px 3.5px 0px hsl(95, 35%, 40%),
        4px 4px 0px hsl(95, 34%, 40%), 4.5px 4.5px 0px hsl(95, 33%, 40%),
        5px 5px 0px hsl(95, 32%, 40%), 5.5px 5.5px 0px hsl(95, 31%, 40%),
        6px 6px 0px hsl(95, 30%, 40%), 6.5px 6.5px 0px hsl(95, 29%, 40%),
        7px 7px 0px hsl(95, 28%, 40%), 7.5px 7.5px 0px hsl(95, 27%, 40%),
        8px 8px 0px hsl(95, 26%, 40%), 8.5px 8.5px 0px hsl(95, 25%, 40%),
        9px 9px 0px hsl(95, 24%, 40%), 9.5px 9.5px 0px hsl(95, 23%, 40%),
        10px 10px 0px hsl(95, 22%, 40%), 10.5px 10.5px 0px hsl(95, 21%, 40%),
        11px 11px 0px hsl(95, 20%, 40%), 0.41em 0.41em 20px rgba(0, 0, 0, 0.6),
        inset -8px -8px 12px rgba(95, 114, 64, 0.5),
        inset 8px 8px 12px rgba(95, 164, 120, 0.5);
}

div.contenedorProyecto div.cajaProyecto {
    width: 90%;
    padding-block: 2vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
}

div.contenedorProyecto > div.cajaProyecto article {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(105, 100%, 75%, 0.435);
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    padding-bottom: 2vh;
    padding-top: 2vh;
    box-shadow: inset 1px 1px 0px hsl(95, 40%, 40%),
        inset 1.5px 1.5px 0px hsl(95, 40%, 40%),
        inset 2px 2px 0px hsl(95, 40%, 40%),
        inset 2.5px 2.5px 0px hsl(95, 40%, 40%),
        inset 3px 3px 0px hsl(95, 40%, 40%),
        inset 3.5px 3.5px 0px hsl(95, 40%, 40%),
        inset 4px 4px 0px hsl(95, 40%, 40%),
        inset 4.5px 4.5px 0px hsl(95, 40%, 40%),
        inset 5px 5px 0px hsl(95, 40%, 40%),
        inset 5.5px 5.5px 10px hsl(95, 40%, 40%),
        inset 6px 6px 10px hsl(95, 40%, 40%),
        -8px -8px 12px rgba(95, 114, 64, 0.5),
        8px 8px 12px rgba(95, 164, 120, 0.5);
}

div.contenedorProyecto > div.cajaProyecto article > h3 {
    font-size: 5vw;
    margin-bottom: 1vh;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

div.contenedorProyecto > div.cajaProyecto article > img {
    width: 90%;
    aspect-ratio: 16/9;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    transition: all 0.2s;
    padding: 5px;
    background-color: hsla(105, 100%, 64%, 0.233);

    box-shadow: 1px 1px 0px hsl(95, 40%, 40%), 1.5px 1.5px 0px hsl(95, 39%, 40%),
        2px 2px 0px hsl(95, 38%, 40%), 2.5px 2.5px 0px hsl(95, 37%, 40%),
        3px 3px 0px hsl(95, 30%, 40%), 3.5px 3.5px 0px hsl(95, 29%, 40%),
        4px 4px 0px hsl(95, 26%, 40%), 4.5px 4.5px 0px hsl(95, 25%, 40%),
        5px 5px 0px hsl(95, 22%, 40%), 5.5px 5.5px 0px hsl(95, 21%, 40%),
        6px 6px 0px hsl(95, 20%, 40%), 0.41em 0.41em 20px rgba(0, 0, 0, 0.6),
        inset -8px -8px 3px rgba(95, 114, 64, 0.5),
        inset 8px 8px 6px rgba(95, 164, 120, 0.5);
}

div.contenedorProyecto > div.cajaProyecto > article > img:hover {
    cursor: pointer;
}

div.contenedorProyecto > div.cajaProyecto > article > img.scale-up {
    transform: scale(1.2);
    box-shadow: none;
    padding: 0%;
}

div.contenedorProyecto div.cajaProyecto article h5 {
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 4vw;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

div.contenedorProyecto div.cajaProyecto article p {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 2vh;
    align-items: center;
    width: 80%;
    height: 35vw;
    font-size: 3vw;
    background-color: #6aff004a;
    text-shadow: 0.3px 0.3px 0px rgb(0, 0, 0);
    box-shadow: inset 1px 1px 0px hsl(95, 40%, 40%),
        inset 1.5px 1.5px 0px hsl(95, 40%, 40%),
        inset 2px 2px 0px hsl(95, 40%, 40%),
        inset 2.5px 2.5px 0px hsl(95, 40%, 40%),
        inset 3px 3px 0px hsl(95, 40%, 40%),
        inset 3.5px 3.5px 0px hsl(95, 40%, 40%),
        inset 4px 4px 0px hsl(95, 40%, 40%),
        inset 4.5px 4.5px 0px hsl(95, 40%, 40%),
        inset 5px 5px 0px hsl(95, 40%, 40%),
        inset 5.5px 5.5px 10px hsl(95, 40%, 40%),
        inset 6px 6px 10px hsl(95, 40%, 40%),
        -8px -8px 12px rgba(95, 114, 64, 0.5),
        8px 8px 12px rgba(95, 164, 120, 0.5);
}

div.contenedorProyecto > div.cajaProyecto > article > p > strong {
    font-size: 85%;
}

div.contenedorProyecto > div.cajaProyecto article > div {
    position: relative;
    height: 25%;
    width: 90%;
}

div.contenedorProyecto > div.cajaProyecto > article > div > h5 {
    display: flex;
    justify-content: center;
    font-size: 5vw;
    margin-bottom: 1vh;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

div.contenedorProyecto > div.cajaProyecto > article > div > div {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 70%;
    margin: auto;
}

div.contenedorProyecto
    > div.cajaProyecto
    > article
    > div
    > div
    > div.containerLogosProyecto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.contenedorProyecto
    > div.cajaProyecto
    > article
    > div
    > div
    > div.containerLogosProyecto
    > img.imgLogos {
    width: 20%;
    aspect-ratio: 1/1;
    transition: all 0.4s;
}

div.contenedorProyecto
    > div.cajaProyecto
    > article
    > div
    > div
    > div.containerLogosProyecto
    > img.imgLogos:hover {
    transform: scale(1.2);
    cursor: pointer;
}

div.contenedorProyecto
    > div.cajaProyecto
    > article
    > div
    > div
    > div.containerGithubProyecto {
    width: 50%;
    aspect-ratio: 1/1;
    transition: all 0.4s;
}

div.contenedorProyecto
    > div.cajaProyecto
    > article
    > div
    > div
    > div.containerGithubProyecto:hover {
    transform: scale(1.2);
    cursor: pointer;
}

div.contenedorProyecto
    div.cajaProyecto
    > article
    > div
    > div
    > div.containerGithubProyecto
    a
    > img.imgGithub {
    width: 100%;
    aspect-ratio: 1/1;
}

/* --------------------------------- MEDIA QUERY --------------------------------- */

@media (min-width: 840px) {
    /*     section.seccionProyectosDestacados h3 {
        font-size: 5vh;
    } */

    div.contenedorProyecto {
        min-width: 400px;
        max-width: 50vh;
        margin-inline: 4vh;
    }

    div.contenedorProyecto > div.cajaProyecto article > h4 {
        font-size: 4vh;
    }

    div.contenedorProyecto > div.cajaProyecto article > h5 {
        margin-top: 1.2vh;
        margin-bottom: 0.5vh;
        font-size: 2.2vh;
    }

    div.contenedorProyecto > div.cajaProyecto > article > div > h5 {
        margin-bottom: 0.5vh;
        font-size: 3vh;
    }

    div.contenedorProyecto > div.cajaProyecto article > p {
        font-size: 1.6vh;
        height: 15vh;
    }

    div.contenedorProyecto
        > div.cajaProyecto
        > article
        > div
        > div
        > div.containerGithubProyecto {
        width: 30%;
        aspect-ratio: 1/1;
    }
}
